@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;

  background-color: #e9e9e9;
}

h3 {
  margin: 0;
}

.menu-active {
  color: white !important;
  transition: 0.3s ease;
  background-color: #62a5a1 !important;
  border-color: white !important;
}

.flex {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}
